$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$border-radius-base: 0;

@font-face {
    font-family: 'inconsolata';
    src: url('fonts/inconsolata-webfont.woff') format('woff'),
         url('fonts/inconsolata-webfont.ttf') format('truetype'),
         url('fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-monospace: inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_list-group.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: radial-gradient(circle at center, #f05716 0%, #9b312c 100%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: calc(-175.734px / 2);
  margin-left: calc(-648.656px / 2 - 20px);
}

.container {
  height: 100%;
  position: relative;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin: 15px 0;
}

.header-title {
  position: absolute;
  top: 50%;
  transform: translate(-10px, -50%);
  text-shadow: -0.4pt 0.4pt 0px #c8c8c8;;
}

.header-logo {
  width: 100%;
  vertical-align: middle;
}

.main {
  position: relative;
  height: calc(100% - 85px);
  background: #3a3636;
  background: #272822;
  box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75);

  & > p, & > div:not(.container) {
    padding: 20px 50px 0;
  }
}

.shadow-decoration {
  width: 300%;
  height: 100%;
  left: 100%;
  position: absolute;
  background: linear-gradient(135deg, rgba(76, 9, 9, 0.38) 0%,rgba(255,48,25,0) 100%);
  transform: rotate(45deg);
  transform-origin: 0 0;

  &.first {
    top: 85px;
  }

  &.second {
    top: 40%;
  }
}

.method-list-box {
  position: absolute;
  top: 100px;
}

.filter-box {
  font-size: 40pt;
  font-family: $font-family-monospace;
  color: #f8f8f2;
  position: absolute;
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f8f8f2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f8f8f2;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f8f8f2;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f8f8f2;
}

[type="search"] {
    -moz-appearance:    textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.filter-prefix {
  float: left;
}

.filter-input {
  width: 100%;
  margin-left: -30px;
  padding-left: 40px;

  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.snippet-title {
  font-size: 20pt;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

.method-list {
  display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ace-monokai, .ace_gutter {
  background: none !important;
}

.ace_editor {
  letter-spacing: 0.5pt !important;
}

.shine span {
  color: #FDFFE3 !important;
  text-shadow: 1px 0px 0px #BF7F00,
               -1px 0px 0px #BF7F00,
               2px 0px 1px rgba(191, 127, 0, 0.8),
               -2px 0px 1px rgba(191, 127, 0, 0.8);

  transition: text-shadow 300ms ease;
}

.ace_line {
  width: 100%;
  overflow: show;
}


.ps-container {
  padding: 0 15px 0 0;
  height: calc(100% - 145px);
  position: absolute;
  top: 120px;
}

.ace-monokai .ace_marker-layer .ace_active-line {
  background: linear-gradient(to left, #272822 0, #202020 30px, #202020 100%);
}

.ace-monokai .ace_gutter-active-line {
  background: linear-gradient(to right, rgba(0,0,0,0) 0, #272822 15px, #272727 25px, #272727 100%);
}
