<p class="filter-box">
  <label class="filter-prefix">&gt;</label>
  <input search-field
    class="filter-input"
    type="search"
    ng-model="q._name"
    ng-keypress="keypress($event)"
    ng-blur="choose()"
    placeholder="Search for api method"
    size="{{q._name.length}}"
     />
</p>

<div class="method-list-box">
  <ul class="method-list " data-list>
    <li class="method-button {{method._type.toLowerCase()}}" ng-repeat="method in api | filter:q track by method._uid" ng-click="doIt(this)">
      {{method._name}}
    </li>
  </ul>
</div>

<div class="container">
  <code-view model="q._name"></code-view>
</div>
